.ipynb_checkpoints/

asent/

appendix/.ipynb_checkpoints/

data/twitter/
data/all_sentiments.csv

embeddings/
lemmas/
lexicons/
omitted/
Sentida/

src/sparkmonitor_kernelextension.log
src/notebooks/ASENT.ipynb
src/notebooks/asenttesting.ipynb
src/notebooks/match_lemmas_embd.ipynb
src/notebooks/word_frequencies.ipynb
src/notebooks/sparkmonitor_kernelextension.log
src/.ipynb_checkpoints/

utils/twittertokens.py
utils/.ipynb_checkpoints/
utils/__pycache__/

sparkmonitor_kernelextension.log

